.playgroundComponent{
  margin: 15px 15px 10px;
  margin-bottom: 10px;
  background: #fff;
  width: 75px;
  text-align: center;
  padding: 5px 10px;
  text-transform: capitalize;
  position: relative;
}

.playgroundComponent.active{
  color: #fff;
  background-color: blue;
}

#component-container{
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
}
