@import "../../../../constants/scss/_constants";

.detail{
  grid-area: element-detail;

  &__field{
    margin: 10px 10px 0;
  }

  &--box{
    background-color: $bg-grey;
    box-shadow: $shadow-default;
    border-radius: 3px;
    margin: 10px;
  }

  &--title{
    background-color: $bg-darkgrey;
    color: $white;
    padding: 10px;
  }

  &--content{
    padding: 10px;
  }

  &--zoom{
    float: right;
    color: $white;
    cursor: pointer;
    background-color: $bg-darkgrey;
    box-shadow: $shadow-default;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
  }
}
