@import "../../../constants/scss/_constants";

.overlay {
  z-index: 100;
  display: grid;
  position: fixed;
  height: 100vh;
  width: 100%;
  grid-template-columns: $sidebar-width auto $active-element-width;
  grid-template-rows: $header-height auto $footer-height;
  grid-template-areas:
    "logo controls controls"
    "element-link-list . element-detail"
    "element-link-list . navigator";
}
